node_modules
dist_frontend
blocks/node_modules
document
editor/public/js/lib
editor/public/media
projects
release/block3d
.DS_Store
dist
PKG_CACHE
client/babylon/*
client/blockly/*
client/monaco-editor/*
*.local
*.blend
*.sh
*.exe
*.zip
*.svg